.btn {
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  border: 0;
  border-radius: 12px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', serif;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--color-dark-gray);
}

.btn:active {
  background-color: var(--color-dark-gray);
  transform: scale(0.98);
}
