.item {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: var(--color-bgGray);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallbackText {
  font-size: 18px;
  color: var(--color-black);
  font-family: 'Noto Sans Hebrew', sans-serif;
  text-align: center;
  padding: 4px;
  line-height: 1.2;
  word-break: break-word;
}

.text {
  font-family: 'Noto Sans Hebrew', sans-serif;
  text-align: right;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.breed,
.age {
  font-size: 14px;
}

.wrapperDescription {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.deleteBtn {
  padding: 2px 2px;
  font-size: 16px;
  cursor: pointer;
  width: 90px;
  border-radius: 16px;
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

.deleteBtn:disabled {
  cursor: not-allowed;
  color: var(--color-gray);
  border: 2px solid var(--color-gray);
  opacity: 0.6;
}
