.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mainPage {
  width: 100%;
  padding: 0 10px;
}

.message {
  text-align: center;
  font-size: 17px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.text {
  text-align: right;
  font-size: 24px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.menuItem {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
}

.title {
  text-align: right;
  font-size: 22px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
}

/* .btn,
.btnLogout {
  width: 50%;
}

.btnLogout {
  background-color: var(--color-gray);
} */

/* .loader {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Noto Sans Hebrew', sans-serif;
  margin-top: 20px;
} */
