.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mainPage {
  width: 100%;
  padding: 0 10px;
}

.message {
  text-align: center;
  font-size: 17px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.text {
  text-align: right;
  font-size: 24px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.menuItem {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray);
}

.title {
  text-align: right;
  font-size: 22px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUsPage {
  text-align: center;
  font-size: 18px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  margin-bottom: 10px;
}

/* .btn,
.btnLogout {
  width: 50%;
}

.btnLogout {
  background-color: var(--color-gray);
} */

/* .loader {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Noto Sans Hebrew', sans-serif;
  margin-top: 20px;
} */
