.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 50px;
}

.btnDog {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 70px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleModal {
  font-size: 18px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.btnYes,
.btnNo {
  border-radius: 24px;
  padding: 8px 10px 10px 10px;
  font-size: 25px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.modalActions {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.btnYes {
  border: 2px solid var(--color-green);
  background-color: rgba(34, 197, 94, 0.3);
  color: #008000;
}

.btnNo {
  border: 2px solid var(--color-red);
  background-color: rgb(255, 59, 48, 0.3);
  color: #800000;
}
