.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 50px;
}

.btnDog {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 70px;
}
