.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader {
  font-size: 14px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.sessionOverviewPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  background-color: var(--color-light-gray);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.infoContainer {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: right;
  gap: 10px;
}

.forPdf {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 12px;
  padding: 0 10px;
}

.dprimeWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dprime {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.dprimeTitle {
  font-size: 18px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  line-height: 28px;
}

.trialWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 70px;
}

.trialOverview {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  background-color: var(--color-borGray);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.videoContainer {
  width: 30%;
  display: flex;
  align-items: center;
}

.videoPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  border: 2px solid var(--color-borGray);
  border-radius: 12px;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
}

.video {
  background-color: var(--color-black);
  width: 120px;
  height: 100px;
  border-radius: 12px;
}

.trialInfoContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

.trialNumber {
  font-size: 18px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 500;
}

.resultWrapper {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.resultResult {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.result {
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 400;
}

.trialBtn {
  border-radius: 16px;
  padding: 7px 6px;
}

.warningBanner {
  width: 100%;
  padding: 3px;
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 400;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
