.register {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 24px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.item {
  width: 95%;
}

.input {
  padding: 10px 10px;
  border: 1px solid #d2d2d7;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(251, 251, 251, 0.78);
  color: #191919;
  font-size: 16px;
  font-family: 'Noto Sans Hebrew';
  line-height: 29px;
  text-align: right;
  outline: none;
}

.btn {
  cursor: pointer;
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 12px;
  background-color: #191919;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', serif;
  font-weight: 500;
}

.btnClose {
  cursor: pointer;
  padding: 5px;

  border: 0;
  background-color: inherit;
  color: #191919;
  font-size: 16px;
  font-weight: 500;
}
