.register {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 24px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.item {
  width: 95%;
}

.input {
  padding: 10px 10px;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  border-radius: 12px;
  background-color: var(--color-light-gray);
  font-size: 16px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  line-height: 29px;
  text-align: right;
  outline: none;
}

.btnClose {
  cursor: pointer;
  padding: 5px;

  border: 0;
  background-color: inherit;
  font-size: 16px;
  font-weight: 500;
}

.watchPassword {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.preview {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.errorBorder {
  border: 2px solid red !important;
}

.errorText {
  font-size: 12px;
  text-align: center;
}
